.pp-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    gap: 50px;
}

.pp-main-title{
    padding: 15px 0;
    border-bottom: 1px solid #8c8c8c;
    line-height: 5px;
}
.pp-main-title h4{
    font-size: 22px;
}
.pp-main-title>p{
    font-size: 18px;
}
.pp-main-desc{
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pp-services{
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(2, 450px);
    
}
.service{
    padding: 0 25px;
}
.service p {
}