@font-face {
    font-family: 'SOFIAPROSOFTBOLD';
    src: local('SOFIAPROSOFTBOLD'), url('../fonts/SOFIAPROSOFTBOLD.woff') format('woff');
}

@font-face {
    font-family: '9Slide03SOFIAPROSOFTLIGHT';
    src: local('9Slide03SOFIAPROSOFTLIGHT'), url('../fonts/9Slide03SOFIAPROSOFTLIGHT.woff') format('woff');
}

:root {
    --black: #1b1b1b;
    --white: #f8f8f8;
    --blue: #6064ad;
    --grey: #f3f3f3;
    --light-blue: #989cd0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #4e4ad9;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: #8d8d8d;
}

::-webkit-scrollbar:hover {
    width: 10px;
    transition: 1.5s ease;

}


body {
    user-select: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: '9Slide03SOFIAPROSOFTLIGHT';
    font-size: 19px;

}

div {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: hsl(285, 83%, 55%); */
    background-image: linear-gradient(90deg, #4e4ad9, #af14b9, #e20088, #f0447a, #4e4ad9);
    height: 85px;
}

nav>ul {
    display: flex;
    list-style: none;
    gap: 31px;
    padding: 0;
}

nav>div>img {
    width: 35px;
    height: fit-content;
    padding: 39px 5px;
}

.logo {
    display: flex;
    align-items: start;
}


h1 {
    font-family: 'SOFIAPROSOFTBOLD';
    font-size: 35px;
}

a {
    text-decoration: none;
    color: var(--black);

}

#dropdown {
    font-size: 20px;

}

.nav-panel>li>a {
    overflow: hidden;
    color: black;
    text-decoration: none;
    font-family: '9Slide03SOFIAPROSOFTLIGHT';
    font-weight: 1000;
    display: block;
    position: relative;
    margin-left: 40px;
    line-height: 35px;
}

.nav-panel>li>a::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 0px;
    height: 2px;
    background-image: linear-gradient(to left, #fff, #4e4ad9, #af14b9, #fff, #e20088, #e7a4b9, #ffffff);
    background-size: 200%;
    border-radius: 50px;
    transition: 0.7s ease;
    animation: anim 2s linear infinite;
}

.nav-panel>li>a:hover::after {
    width: 150px;

}

@keyframes anim {
    from {
        background-position: 400%;
    }

    to {
        background-position: 0%;

    }
}


nav>ul {
    margin: 0;
}

nav>ul:nth-child(3) {
    display: flex;
    align-items: center;
}

nav>ul:nth-child(3)>li>a {
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: 600;
    display: flex;
    gap: 10px;
    align-items: center;
}


nav .navigation {
    display: none;
}

nav .btns {
    display: none;
}

.buttons>a {
    transition: .6s ease;
}

.buttons>a:hover {
    background-color: black;
    color: white;

}

.main-container {
    margin: 50px 0;
    display: flex;

    justify-content: space-around;
    align-items: center;

}

.main-text {

    border-radius: 45px 7px;
    padding: 12px 35px 20px;
    transition: 0.6s ease;
    border: 1px solid #ffffff;

}

.main-text:hover {

    border: 1px solid #1b1b1b;
    box-shadow: 12px 12px 20px 1.2px var(--grey);
}

.main-text>h1 {
    font-size: 80px;
    line-height: 0;

    box-sizing: border-box;
    padding-left: 15px;
}




.main-p {
    font-family: '9Slide03SOFIAPROSOFTLIGHT' !important;
    font-size: 32px;
}


.main-p2 {
    text-align: right;
    font-size: 20px;
}

.main-p2>a>span {
    color: #4e4ad9;
    font-family: 'SOFIAPROSOFTBOLD';
}

.main-img {
    margin: 25px 0;
}

.main-img>img {
    border-radius: 15px;
    box-shadow: 12px 12px 20px 1.2px #b9bac3;

}

.courses {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courses>h1 {
    text-align: center;
}

.cards {
    padding: 65px;
    margin: 90px;
    display: flex;
    border-radius: 35px 12px;
    width: 97%;
    gap: 30px;
    overflow-x: scroll;
    background-color: var(--grey);
}


.cards::-webkit-scrollbar {
    display: none;
}

.card {
    display: flex;
    justify-content: space-between;
    width: 700px;
    height: 330px;
    border-radius: 35px 12px;
    background-color: var(--blue);
    color: var(--white);
    gap: 15px;
    transition: .6s ease;

}



.card>img {
    border-radius: 35px 12px;
    border: #6064ad 1px solid;
    width: 400px;
}



.card:hover {

    box-shadow: 12px 12px 30px 1px #a7a7a7;
    transform: scale(1.001) translate(-5px, -5px);
}

.card-content {
    width: 300px;
}

.card-text {
    padding: 15px 25px 15px 0;
}

.card-text>h2 {
    text-align: center;
}

.card-text>p {
    text-indent: 12px;
    font-size: 19px;
    text-align: justify;
}

.card-span {
    display: inline-block;
}

.card-action {
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

.card-action>a {
    color: var(--white);
    border: 1px solid var(--white);
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 3px;

    font-family: 'SOFIAPROSOFTBOLD';
    transition: .6s ease;
}

.card-action>a:hover {
    background-color: #989cd0;
    color: var(--blue);
    border: 1px solid var(--white);
}


.search-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--blue);
    color: var(--white);
    font-size: 22px;
    padding: 50px 0;
    border-radius: 35px 12px;
    width: 99%;
    margin: auto;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    gap: 55px;
    box-sizing: border-box;

    padding: 100px;
    border-radius: 35px 15px;
    border: 1px var(--white) solid;
}

.search>img {
    width: 450px;
    border-radius: 12px;
    box-shadow: 12px 12px 20px .5px #4e518e;

}


.search-text {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.search-text>p {
    text-indent: 15px;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 3px;

}

.search-form>input {
    padding: 10px 12px 10px 35px;
    width: 250px;
    font-size: 20px;
    color: #6064ad;
    border: 1px solid var(--white);
    border-radius: 5px;
    outline: none;
}

.search-form>input::-webkit-input-placeholder {
    color: #6064adb8;
    font-family: '9Slide03SOFIAPROSOFTLIGHT';
}

.search-form i {
    position: absolute;
    color: #6064ad;
    padding-left: 9px;
    font-size: 18px;
}

.search-form>a {
    color: var(--white);
    border: 1px solid var(--white);

    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--blue);
    transition: .6s ease;
    font-family: 'SOFIAPROSOFTBOLD';

}

.search-form>a:hover {
    background-color: var(--light-blue);
    color: var(--blue);
}


.about-us-container {
    margin: 100px 10px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    border-radius: 35px 12px;
    width: 99%;

    border: 1px solid var(--blue);
}

.about-us-container>img {
    box-sizing: border-box;
    border-radius: 35px 12px;
    width: 600px;
    box-shadow: 12px 12px 10px .5px #5a5da175;

}

.about-us-text {
    padding: 0 70px;
    justify-content: center;
}

.about-us-text>h1 {
    text-align: center;
    margin-bottom: 50px;
}

.about-us-text-block>h2 {
    padding: 0 25px;
}

.about-us-text-block>p {
    font-size: 20px;
    text-indent: 15px;
    text-align: justify;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: start;
    background-image: linear-gradient(90deg, #4e4ad9, #af14b9, #e20088, #f0447a, #4e4ad9);
    padding: 100px 0;
}

.footer-1 {
    display: flex;
    flex-direction: column;

    gap: 55px;
    align-items: center;
}

.footer-logo-cont {
    display: flex;
    align-items: center;
    border-radius: 35px 5px;
    background-color: var(--white);
    padding: 0 13px;
}

.payment-cont {
    display: flex;
    flex-direction: column;
    padding: 7px 20px;
    background-color: var(--light-blue);
    border-radius: 5px;
    line-height: 0;
    font-size: 20px;
    color: #4e518e;
    align-items: center;
    opacity: .5;
}

.payment-cont:hover {
    opacity: 1;
}

.payment-cont>img {
    width: 70px;
    border-radius: 15px;
}

.footer-logo-cont>img {
    width: 30px;
}

.footer-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--white);
}

.footer-2 ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}

.footer-2 a {
    color: var(--white);
    display: flex;
    gap: 15px;
}

.footer-3 {
    padding: 25px;
    width: 450px;
    text-align: center;
    background-color: var(--light-blue);
    border-radius: 12px;
    font-size: 20px;
}

.footer-news-action>input {
    padding: 10px 12px;
    width: 250px;
    font-size: 20px;
    color: #6064ad;
    border: 1px solid var(--white);
    border-radius: 5px;
}


.footer-news-action>input::-webkit-input-placeholder {
    color: #6064adb8;
    font-family: '9Slide03SOFIAPROSOFTLIGHT';
}

.footer-news-action>button {
    color: var(--white);
    border: 1px solid var(--white);
    background-color: var(--light-blue);

    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .6s ease;
    font-family: 'SOFIAPROSOFTBOLD';

}

.footer-news-action>button:hover {
    background-color: var(--blue);

}